.product-summary {
  width: 100%;
  .info-summary {
    display: flex;
    flex-wrap: wrap;
  }
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(222, 255, 102));

}

.card {
  border: 1px solid #ccc;
  // border-bottom: 3px solid var(--light-blue);
  padding: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(222, 255, 102));
}

.card1 {
  background-color: #b624ff;
}
.card2 {
  background-color: #32963d;
}
.card3 {
  background-color: #c41849;
}
.card4 {
  background-color: #03a5fc;
}
